# Good coding to have

Here 25 notes for good coding practice that I have to
 thanks to  https://www.youtube.com/watch?v=_gaAoJBMJ_Q&t=389s

1. Writing to a csv with unnecessary index <a id="section_1">here</a>
2. Avoid column name that include spaces <a id="section_2">here</a>
3. Leveraging the query method <a id="section_3">here</a>
4. <a id="section_4">Using variables instead of the string method to formulate the query strings </a>
5. Using override when possible instead of inplace = True
6. Use vectorization instead of iterating over rows in a dataframe
7. Using vectorization as an option instead using apply method (when possible)
8. Avoid considering a slice of a dataframe as it were a new dataframe
9. Use chaining commands and avoid creating multiple intermediate dataframes when making transformations
10. Properly set columns dtypes
11. Using boolean value instead of string
12. Leveraging pandas built in plotting methods
13. Avoid manually applying string methods
14. Avoid repeating commonly used data transformation
15. Use dictionary for renaming columns
16. Aggregating by groups not manually but with group by
17. Looping over the rows to create aggregates
18. Avoid if possible using a loop to calculate how values changes
19. Saving large datasets as csv
20. Apply style to dataframe like in excel
21. Setting proper suffixes when merging 2 dataframes
22. Checking consistency after merging 2 dataframes
23. Stacking chained commands into one line of code
24. Using categorical data types
25. Be aware of creating duplicated label columns
26. Memory optimization

***

### [1. writing to a csv with unnecessary index](section_1)
When saving files, pandas creates a new unnecessary - in most case - column the index column.
When reading back the saved file, this new column have usually the **Unnamed:0** column head

In [131]:
import numpy as np
import pandas as pd
df = pd.read_csv("datasets/nobel.csv")
df.head(3)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany

In [132]:
df[:10].to_csv("datasets/nobel_saved.csv")
df1 = pd.read_csv("datasets/nobel_saved.csv")
df1.head(3)

,Unnamed: 0,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany

In [133]:
%%cmd
more  "datasets\nobel_saved.csv"

Microsoft Windows [Version 10.0.22000.978]
(c) Microsoft Corporation. All rights reserved.

(base) C:\Users\bruni\OneDrive\Desktop\MS\Medallion>more  "datasets\nobel_saved.csv"
,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the laws of chemical dynamics and osmotic pressure in solutions""",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty idealism, artistic perfection and a rare combination of the qualities of both heart and intellect""",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,,,,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by which he has opened a new road in the domain of medical science and thereby placed in the hands of the physician a victorious weapon against illness and deaths""",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,,,,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,,,,1912-06-12,Paris,France
5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the remarkable rays subsequently named after him""",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services he has rendered by his work on sugar and purine syntheses""",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of historical writing, with special reference to his monumental work, <I>A history of Rome</I>""",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,,,,1903-11-01,Charlottenburg,Germany
8,1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has shown how it enters the organism and thereby has laid the foundation for successful research on this disease and methods of combating it""",1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom
9,1902,Peace,The Nobel Peace Prize 1902,,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,,,,1906-12-07,Bern,Switzerland

(base) C:\Users\bruni\OneDrive\Desktop\MS\Medallion>

**solution 1** - to avoid this mistake set **index=False** when saving csv

In [134]:
df[:10].to_csv("datasets/nobel_saved_noindex.txt", index=False)

In [135]:
!more "datasets\nobel_saved_noindex.txt"

year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the laws of chemical dynamics and osmotic pressure in solutions""",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty idealism, artistic perfection and a rare combination of the qualities of both heart and intellect""",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,,,,1907-09-07,ChÃ¢tenay,France
1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by which he has opened a new road in the domain of medical science and thereby placed in the hands of the physician a victorious weapon against illness and deaths""",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
1901,Peace,The Nobel Peace Prize 1901,,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,,,,1910-10-30,Heiden,Switzerland
1901,Peace,The Nobel Peace Prize 1901,,1/2,463,Individual,FrÃ©dÃ©ric Passy,1822-05-20,Paris,France,Male,,,,1912-06-12,Paris,France
1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the remarkable rays subsequently named after him""",1/1,1,Individual,Wilhelm Conrad RÃ¶ntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,1923-02-10,Munich,Germany
1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services he has rendered by his work on sugar and purine syntheses""",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany,1919-07-15,Berlin,Germany
1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of historical writing, with special reference to his monumental work, <I>A history of Rome</I>""",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,,,,1903-11-01,Charlottenburg,Germany
1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has shown how it enters the organism and thereby has laid the foundation for successful research on this disease and methods of combating it""",1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom
1902,Peace,The Nobel Peace Prize 1902,,1/2,464,Individual,Ã‰lie Ducommun,1833-02-19,Geneva,Switzerland,Male,,,,1906-12-07,Bern,Switzerland

or alternatively **solution 2** - read the file tha have  the index saved indicating the **index_col** parameter

In [136]:
df = pd.read_csv("datasets/nobel_saved.csv", index_col=[0])
df.head(3)

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany

***
### [2. Avoid column name that include spaces](#section_2)
Avoding using spaces in column name unable to dot syntax when column referencing.

Is preferable using _ instead of spaces

df['Fisrt initial']     can access column with space only in this way
df.'Fisrt initial'      and cannot access column with spaces in this way

So for example these columns with spaces **cannot be used in the simplified pandas query syntax** (see point below)

In [137]:
df = pd.read_csv("datasets/nobel_saved.csv")
df['First Initial'] = df['Unnamed: 0']    # can access column with space only in this way
df.columns

Index(['Unnamed: 0', 'year', 'category', 'prize', 'motivation', 'prize_share',
       'laureate_id', 'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country',
       'First Initial'],
      dtype='object')

In [138]:
df.'First Initial'                         # and cannot access column with spaces in this way

SyntaxError: invalid syntax (3442008619.py, line 1)

In [ ]:
df.rename(columns={"First Initial": "First_Initial"}, inplace=True)
df.columns

In [ ]:
df.First_Initial[:5]

In [ ]:
#now the column che be used in query syntax
df.query('First_Initial > 100 & First_Initial < 110')[:5]

### 3. Leveraging the query method

Often when you want to filter a dataframe to a subset there is nothing wrong with the syntax chosen below

In [ ]:
df.loc[ (df['year'] >2000) &  (df['category'] == "Literature") ]

However it is possible **writing powerful queries using the .query method**
This become more flexible the more the criteria of the query become complex

In [ ]:
df.query("year > 2000 & category == 'Literature' ")

***
### [4. Using variables instead of the string method to formulate the query strings](#section_4)
In general when there is the need to access to variables in the queries
is common to access to those variable with the query string

In [ ]:
min_year =2000
category_filter = "Literature"
df.query('year > ' + str(min_year) + ' &  category == "' + str(category_filter) + '"' )  #very complex to write and redundant

In [ ]:
df.query( f'year > {min_year}  &  category == "{category_filter}" ' )  #redundant

But this is unnecessary because query in pandas can ecces extra variable by simply adding the  **@ keyword**
**NOTE : here the " " are not necessary for the string variable!!** ... carino!

In [ ]:
df.query('( year > @min_year) & (category == @category_filter) ')   # NOTE : here without the " " for the string variable!!

***
### [5. Using override when possible instead of inplace = True](#section_5)
There are few methods that have the inplace=True options
Setting this option to True will override the dataframe itself. However, using the inplace method
can be sometime dangerous and even core developers plan to deprecate it.
Is **better explicit override** (means use = sign)  with modification.

In [ ]:
df.rename(columns= {"First_Initial" : "Initial" }, inplace=True)
df.head(3)

In [ ]:
df2= df.rename(columns={"Initial":"First"})
df2.head(3)

In [ ]:
#more examples
df.fillna("", inplace=True)
df.head(3)

In [ ]:
df3 = df2.fillna("-")
display(df3.head(3))
display(df2.head(3))

***
### [6. Use vectorization instead of iterating over rows in a dataframe](#section_6)
Iter row  is an option

In [ ]:
for i, row in df.iterrows():
    if row['year'] > 2004:
        df.loc[i,'is_recent'] = True
    else:
        df.loc[i, 'is_recent'] = False

df.head(3)

However, is preferable to use vectorization to apply to the entire Series
This is a cool topic, vectorization at this stage of my experience is still very difficult to write, but i often see that
is very powerful, time reducing and elegant.

In [ ]:
df['result'] = df['year'] > 2004
df.head(3)

***
### [7. Using vectorization as an option instead using apply method (when possible)](#section_7)
Apply method allow to apply any transformation across chosen axis

In [ ]:
import math

df['decade'] = df.apply( lambda row : math.floor((row['year']-1900)/10) , axis = 1)
df.head()

Is **preferable** to use vectorized function, when possible, like this

In [ ]:
import numpy as np

df['decade_new'] = np.floor((df['year']-1900)/10).astype(int)
df.head()

***
### [8. Avoid considering a slice of a dataframe as it were a new dataframe](#section_8)
In these case we see a SettingWithCopyWarning

In [ ]:
df_last = df.query('year > 2000')
df_last['First_name'] =  df_last['full_name'].str[-5:]

This warning rises because our new modifications are actually been applied to a slice of our original dataframe  df.query('year > 2015')
So when we want to create a dataframe based on a subset of initial dataframe is **best to use the .copy()**
This by default create a deep copy and any edits to the new dataframe will not impact the initial dataframe

In [ ]:
df_last = df.query('year > 2000').copy()
df_last['First_name'] =  df_last['full_name'].str[-5:]
df_last[:5]

***
### [9. Use chaining commands and avoid creating multiple intermediate dataframes when making transformations](#section_9)
Code like this where each step of the process is saved in a new df variable

In [ ]:
df_a = df.query('year > 2000')
df_b = df_a.groupby(['sex', 'birth_country'])[['birth_date']].count()
df_c = df_b.sort_values('birth_country', ascending=False)
df_c[:10]

Is instead encouraged to **use chaining commands** where all the transformations are applied once

In [ ]:
df_a =  (df.query('year > 2000')
        .groupby(['sex', 'birth_country'])[['birth_date']].count()
        .sort_values('birth_country', ascending=False))
df_a[:10]

***
### [10. Properly set columns dtypes](#section_10)
Each colum in a dataframe has specific data type and when reading data pandas will try at best to parse these types.
However, usually date columns are represented as object
Is possible to set correctly this column date type format by using parse_dates within read csv
alternatively manually setting

In [ ]:
df.info()

In [ ]:
df = pd.read_csv("datasets/nobel.csv", parse_dates=['birth_date','death_date'], dtype={'category':'category', 'sex':'category'})
df.info()

In [ ]:
# this is an other way
df = pd.read_csv("datasets/nobel.csv")
df['birth_date'] = pd.to_datetime(df['birth_date'])
df['sex'] = df['sex'].astype('category')
df.info()

***
### [11. Using boolean value instead of string](#section_11)
In this case a new colum called sub_10 is created

In [ ]:
df['sub_10'] ='YES'
df.loc[ df['year'] <2000, 'sub_10'] = 'NO'

Instead of using text for something that can be true or false, is better to cast this to a boolean value
This can be done when the colum is created

In [ ]:
df['sub_10_new'] = df['year'] > 2000
df[:5]

or if the dataset olready has these values is possble to map them to true or false

In [ ]:
df['sub_10'] = df['sub_10'].map({"YES" : True , "NO" : False})
df[:5]

***
### [12. Leveraging pandas built in plotting methods](#section_12)
Often there are situation when you want to do a quick plot of the data  in the dataframe
This can be done by creating a matplotlib sublpot and plotting the data manually

In [ ]:
import matplotlib.pyplot as plt

years = df['year']
category = df['category']


fig, ax = plt.subplots()
plt.scatter(x=years,y=category)
ax.set_title('year vs category')
plt.show()

Or using pandas functionality

In [ ]:
ax = df.plot(kind='scatter',
             x='year',
             y='category',
             title='year vs category')

In [ ]:
dc = df.groupby(['year'])['full_name'].count()
dc.plot(kind='bar', figsize =(20,2))

***
### [13. Avoid manually applying string methods](#section_13)
If there is a column with string values and is necessary to apply a string method,
in this case instead of using apply method

In [ ]:
df['prize_name'] = df['prize'].apply(lambda x: str(x)[19:].upper())
df[:5]

pandas has **string method** and is possible to apply a string method to the entire column

In [ ]:
df['prize_name_str'] = df['prize'].str[19:].str.upper()
df

***
### [14. Avoid repeating commonly used data transformation](#section_14)
Is generally best practice to not repeat code ,unless needed, and create functions, this make code easy to read and
ensures that the same processing is done identically on all the dataframes

***
### [15. Use dictionary for renaming columns](#section_15)
Is possible to rename colums giving a list o new name
but is preferred and much cleaner way is to use the rename method and provide
a dictionary with the old and new names

In [ ]:
df_subset = df[['year', 'category', 'prize', 'motivation', 'prize_share',
         'laureate_id', 'laureate_type', 'full_name', 'birth_date', 'birth_city',
         'birth_country', 'sex']]
print(df_subset.columns.to_list())

In [ ]:
#instead of this
new_col = [ col +"_new" for col in df_subset.columns.to_list()]
print(new_col)
df_subset.columns = new_col
df_subset.head(3)

In [ ]:
# prefer this
df_subset = df[['year', 'category', 'prize', 'motivation', 'prize_share',
                'laureate_id', 'laureate_type', 'full_name', 'birth_date', 'birth_city',
                'birth_country', 'sex']]
df_subset = df_subset.rename(columns={"year":"year_nobel"})
df_subset.head(3)

***
### [16. Aggregating by groups not manually but with group by](#section_16)
Group by allows you to select a colum or columns to group the data on and then
to perform **any aggregation function** to those group indipendently

In [ ]:
man_records = df.loc[df['sex'] == 'Male']['birth_date'].max()
female_records = df.loc[df['sex'] == 'Female']['birth_date'].max()
print(f"male {man_records}  female {female_records}")

In [ ]:
records = df.groupby('sex')['birth_date'].max()
display(records)

### [17. Looping over the rows to create aggregates](#section_17)
Instead of iterating over each rows in the dataframe storing the result after each iteration ...

In [ ]:
from scipy import stats as st

df['birth_date_dt'] = df['birth_date'].dt.date #convert from timestamp to date

mans_date = []
female_date = []
#gets average
for i, row in df.iterrows():
    group = row.sex
    if group == 'Male':
        mans_date.append( row.birth_date.year )
    else:
        female_date.append(row.birth_date_dt.year)

#man
mans_array = np.array(mans_date)
mans_array_data = mans_array[ ~np.isnan(mans_array) ] #remove nan
display(np.mean(mans_array_data))
display(np.median(mans_array_data))
display(st.mode(mans_array_data))
val, counts = np.unique(mans_array_data, return_counts=True)
display(val[np.argmax(counts)])
df.query('sex == "Male"').hist(
    column='birth_date'
)

In [ ]:
#man
fem_array = np.array(female_date)
fem_array_data = fem_array[ ~np.isnan(fem_array) ] #remove nan
display(np.mean(fem_array_data))
display(np.median(fem_array_data))
display(st.mode(fem_array_data))
val, counts = np.unique(fem_array_data, return_counts=True)
display(val[np.argmax(counts)])
df.query('sex == "Female"').hist(
    column='birth_date'
)

The same result can be calculated by simple groupby aggregation
Grouping in this way also allow to provide multiple way to aggregate data

In [ ]:
display(df.groupby('sex')['birth_date'].aggregate(['mean','median']))
display(df.groupby('sex', as_index=False )['birth_date'].agg(['mean','median', lambda  x: st.mode(x)]))
display(df.groupby('sex', as_index=False )['birth_date'].agg(['mean','median', lambda  x: x.mode()]))
display(df.groupby('sex', as_index=False )['birth_date'].agg(['mean','median', lambda  x: x.value_counts().index[0]]))
#here a have not the same results coming on the mode ,  can be interesting to see why

***
### [18. Avoid if possible using a loop to calculate how values changes](#section_18)
In This example we are calculating the percent change ad the difference between the age column in each row of the data

In [ ]:
from datetime import datetime

nobel_ages = pd.read_csv('datasets/nobel.csv', parse_dates=['birth_date','death_date']).sort_values('birth_date').reset_index()
display(nobel_ages[['birth_date', 'death_date']].isna().sum()) # find if there are some birth date  that are missing

# for age  calculation is necessary to fill null death values and remove null birth dates
nobel_ages['death_date'].fillna(datetime.now(), inplace=True)
nobel_ages = nobel_ages.query('birth_date.isnull() == False')
display(nobel_ages[['birth_date', 'death_date']].isna().sum()) #
nobel_ages['age'] = nobel_ages[['birth_date', 'death_date']].apply(lambda x: (x[1].year-x[0].year)  ,axis=1 )
nobel_ages[1:5]

In [ ]:
#ok in this case is a non sense calculate the percent, but here is just for demonstration

for i in range(1, len(nobel_ages)):
    nobel_ages.loc[i,'percent'] = \
        (nobel_ages.loc[i].age - nobel_ages.loc[i-1].age) / nobel_ages.loc[i].age
    nobel_ages.loc[i,'delta'] = (nobel_ages.loc[i].age - nobel_ages.loc[i-1].age)

nobel_ages.head(3)

We might be catching on a trend now but there is actually a built in function for doing things like this
It can be used the **pct_change()** , or the **diff()** method to calculate the change in the pandas serie

In [ ]:
nobel_ages['age_ptc'] = nobel_ages['age'].pct_change()
nobel_ages['age_diff'] = nobel_ages['age'].diff()
nobel_ages.head()

***
### [19. Saving large datasets as csv](#section_19)
When working with pandas eventually you get to the point that you have to save to disk the dataframe
csv is the most common format data to save csv data, but especially with very large datasets
this can be very slow and take up a lot lof space on the hard drive
Pandas have alot of built in methods to save to many different file like parquet, feather and pickle
These file formats retain the data types of your data which saves you from having to set them menaually
when reloading the files

Note- For these formats you must pip or conda install new packages (package pyarrow take a lot of time)

In [ ]:
!pip install fastparquet

In [ ]:

nobel_ages.to_csv("datasets/nobel_ages.csv", index=False)
nobel_ages.to_parquet("datasets/nobel_ages.parquet")
nobel_ages.to_pickle("datasets/nobel_ages.pickle")
nobel_ages.to_feather("datasets/nobel_ages.feather")

***
### [20. Apply style to dataframe like in excel](#section_20)
This type of style can be extremely  powerful and covers almost everything you want to do in Excel
reference here https://www.analyticsvidhya.com/blog/2021/06/style-your-pandas-dataframe-and-make-it-stunning/

In [ ]:
dxlf = pd.read_csv("datasets/nobel.csv")
dxlf= dxlf.sort_values('year')[['category','year']].reset_index(drop=True).\
    head(10)
dxlf.style.background_gradient(cmap="Reds")
#ddf.style.set_properties(**{'border': '1.3px solid green', 'color':'blue' })
#ddf.to_excel('datasets/excel.xlsx')

In [ ]:
dfexcel = pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
display(dfexcel.style.format('{:.3f}', na_rep="").\
    bar(align=0, vmin=-5, vmax=5, cmap="bwr", height=50,width=60, props="width: 120px; border-right: 1px sold black;").\
    text_gradient(cmap="bwr", vmin=-5, vmax=5))

dfexcel.to_excel('datasets/excel_complex.xlsx')

***
[### 21. Setting proper suffixes when merging 2 dataframes](#section_21)
When merging 2 dataframes, any columns that appear on both dataframe but non being used to merge
will be given the default _x and _y suffixes

In [ ]:
male= nobel_ages.query('sex =="Male" ')[['year','category', 'sex', 'prize', 'full_name']].copy()
female= nobel_ages.query('sex =="Female" ')[['year', 'category', 'sex', 'prize', 'full_name']].copy()
merge = male.merge(female, on=['year', 'category'])
merge[:5]

By explicitly stating the suffixes in your merge you can more easily track what these columns are

In [ ]:
merge = male.merge(female, on=['year', 'category'], suffixes=("_male","_female"))
merge[:5]

***
### [22. Checking consistency after merging 2 dataframes](#section_22)
There mey be cases that when you're merging 2 dataframe and want to confirm that the merge is one to one match
It can be checked for this by comparing the length of the merged dataframe with the initial dataframe
Pandas marge has a validate parameter which will automatically check for different merge types.
This will trow an error message if validation fails

validate
If specified, checks if merge is of specified type.
* “one_to_one” or “1:1”: check if merge keys are unique in both left and right datasets.
* “one_to_many” or “1:m”: check if merge keys are unique in left dataset.
* “many_to_one” or “m:1”: check if merge keys are unique in right dataset.
*   “many_to_many” or “m:m”: allowed, but does not result in checks.

In [ ]:
merge = male.merge(female,
                   on=['year', 'category'],
                   suffixes=("_male","_female"),
                   validate='m:m')

In [ ]:
merge = male.merge(female,
                   on=['year', 'category'],
                   suffixes=("_male","_female"),
                   validate='1:1')

***
### [23. Stacking chained commands into one line of code](#section_23)
Method chaining is a great feature in pandas, but code can get really unreadable if it is all in one line.
By wrapping expression in parentheses, code can be split so that each line has one component.

In [ ]:
nobel_ages_view = (nobel_ages
                   .groupby(['year', 'category'])['prize']
                   .count()
                   .reset_index()
                   .fillna(0)
                   .sort_values('year')
                   )
nobel_ages_view

***
### [24. Using categorical data types](#section_24)
In this example there are a grouping column tha conteins only 2 potential values
Instead of storing column like this as a string object, is better to store them as a categorical data type.
Categorical data type take less space in memory and can make operation much faster on large datasets

In [ ]:
nobel_ages['sex'] = nobel_ages['sex'].astype('category')
nobel_ages['category'] = nobel_ages['category'].astype('category')
nobel_ages.info()

***
### [25. Be aware of creating duplicated label columns](#section_25)
 This is when concatenating 2 dataframes as can be seen below, if columns have same name they are duplicated.
 This can be really confusing and hard to debug if we do not know that this  is possible.

In [ ]:
df_subset  = nobel_ages[['year', 'category', 'full_name']]
df_duplicate = pd.concat([df_subset,df_subset], axis=1)
df_duplicate

Panda does have a flag that can be set whic can allert when duplicate label occurs

In [ ]:
df_duplicate = pd.concat([df_subset,df_subset], axis=1)\
    .set_flags(allows_duplicate_labels=False)
df_duplicate

This can be solved by using this line of code, that will check for duplicated column and remove them.

In [ ]:
df_duplicate = pd.concat([df_subset,df_subset], axis=1)
df_duplicate = df_duplicate.loc[:, ~df_duplicate.columns.duplicated()].copy()
df_duplicate

***
### [26. Efficient use of memory](#section_26)

In [ ]:
import pandas as pd
import numpy as np

###### Create data

In [ ]:
def get_dataset(size=5000):
    game = pd.DataFrame()
    game['position'] = np.random.choice(['left','right','middle'], size)
    game['age'] = np.random.randint(1,50, size)
    game['team'] = np.random.choice(['red','blue','yellow','green'], size)
    game['win'] = np.random.choice(['yes','no'],size)
    game['prob'] = np.random.uniform(0,1,size)
    game.head()
    return  game

In [ ]:
game = get_dataset(1_000_000)

In [ ]:
game.info() # up to  memory usage: 34.3+ MB

In [ ]:
%time game['age_rank'] = game.groupby(['team','position'])['age'].rank()
%time game['prob_rank'] = game.groupby(['team','position'])['prob'].rank()

In [ ]:
game.head()

##### Convert category

In [ ]:
#now the position type are string
#it can be more efficient if we convert them in categorical
game = get_dataset(1_000_000)
game['position'] = game['position'].astype('category')
game.info(memory_usage=True) # down to memory usage: 27.7+ MB

#so just by casting this field to category the size descreased a lot

In [ ]:
# just do same on other fields
game = get_dataset(1_000_000)
game['position'] = game['position'].astype('category')
game['team'] = game['team'].astype('category')

game.info(memory_usage=True) # down to memory usage: 21.0+ MB

In [ ]:
# now consider the age column stored as integer
# by default pandas save int64

#int8 (integer 8bits which can hold values from -127 to 127)
#int16 (integer 16bits which can hold values from -32768 to 32768)
#int32 (integer 32bits and -2147483648 to 2147483647)
#int68 (integers 64bits from -9223372036854775808 to 9223372036854775807)

#in our case age is up to 50

# we can downcast to in8 and not lose any information
game['age'] = game['age'].astype('int8')
game.info() # down to memory usage: 18.1+ MB

##### Convert float

In [ ]:
# we can do somenthing similar to prod column
# this is float64
# this deals with the precision of the value
#downcastinbg to float32 if fine

game['prob'] = game['prob'].astype('float32')
game.info() # down to memory usage: 14.3+ MB

##### Convert boolean

In [ ]:
#casting bool types
# the column win is text
# we can actualli make boolean

game['win'] = game['win'].map({'yes':True, 'no':False})

In [ ]:
game.info() # down to memory usage: 7.6 MB

In [ ]:
%time game['age_rank'] = game.groupby(['team','position'])['age'].rank()
%time game['prob_rank'] = game.groupby(['team','position'])['prob'].rank()

In [ ]:
#CPU times: total: 672 ms
#Wall time: 716 ms
#CPU times: total: 938 ms
#Wall time: 934 ms

In [ ]:
def get_dataset_refined(game):
    game['position'] =  game['position'].astype('category')
    game['age'] = game['age'].astype('int8')
    game['team'] = game['team'].astype('category')
    game['win'] = game['win'].map({'yes':True, 'no':False})
    game['prob'] = game['prob'].astype('float32')
    return  game

In [ ]:
game_normal = get_dataset(1_000_000)
display(game_normal.info(memory_usage=True))
%time game_normal['age_rank'] = game_normal.groupby(['team','position'])['age'].rank()
%time game_normal['prob_rank'] = game_normal.groupby(['team','position'])['prob'].rank()

In [ ]:
game_new = get_dataset_refined(game_normal)
display(game_new.info(memory_usage=True))
%time game_new['age_rank'] = game_new.groupby(['team','position'])['age'].rank()
%time game_new['prob_rank'] = game_new.groupby(['team','position'])['prob'].rank()

### Users By Average Session Time
Tricky code
Calculate each user’s average session time.
A session is defined as the time difference between a page_load and page_exit.
For simplicity, assume a user has only 1 session per day and if there are multiple of the same events
 on that day, consider only the latest page_load and earliest page_exit.
 Output the user_id and their average session time.

In [140]:
# Import your libraries
import pandas as pd

# Start writing code
facebook_web_log= pd.read_excel("datasets/ID10352.xlsx", parse_dates=True)
facebook_web_log.head()
fb_log_start=facebook_web_log.loc[facebook_web_log.action=="page_load"]
fb_log_end=facebook_web_log.loc[facebook_web_log.action=="page_exit"]
fb_log_start["day"]=fb_log_start["timestamp"].dt. strftime("%Y-%m-%d")
fb_log_end["day"]=fb_log_end["timestamp"].dt.strftime("%Y-%m-%d")
fb_logs=pd.merge(fb_log_start,fb_log_end,left_on=["user_id","day"],right_on=["user_id","day"],how="inner")
display(fb_logs)
display(fb_log_start.info())
fb_user_log=fb_logs.groupby(["user_id","day"]).apply(lambda x : (x.timestamp_y.min() - x.timestamp_x.max()).total_seconds()).to_frame("duration").reset_index()
fb_user_log.groupby(["user_id"])["duration"].mean().reset_index()

C:\Users\bruni\AppData\Local\Temp\ipykernel_7948\108046675.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fb_log_start["day"]=fb_log_start["timestamp"].dt. strftime("%Y-%m-%d")
C:\Users\bruni\AppData\Local\Temp\ipykernel_7948\108046675.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fb_log_end["day"]=fb_log_end["timestamp"].dt.strftime("%Y-%m-%d")

,user_id,timestamp_x,action_x,day,timestamp_y,action_y
0,0,2019-04-25 13:30:15,page_load,2019-04-25,2019-04-25 13:31:40,page_exit
1,0,2019-04-25 13:30:18,page_load,2019-04-25,2019-04-25 13:31:40,page_exit
2,1,2019-04-25 13:40:00,page_load,2019-04-25,2019-04-25 13:40:35,page_exit
3,1,2019-04-26 11:15:00,page_load,2019-04-26,2019-04-26 11:15:35,page_exit
4,0,2019-04-28 14:30:15,page_load,2019-04-28,2019-04-28 15:31:40,page_exit
5,0,2019-04-28 14:30:10,page_load,2019-04-28,2019-04-28 15:31:40,page_exit

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 24
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    7 non-null      int64
 1   timestamp  7 non-null      datetime64[ns]
 2   action     7 non-null      object
 3   day        7 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 280.0+ bytes

None

   user_id  duration
0        0    1883.5
1        1      35.0